/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*general*/
.debug{
    max-width: 1000px;
    margin: 0 auto;
}

.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug .raw{
    border: 2px dashed black;
}

.debug .container{
    border: 2px dashed black;
}

/*header*/
.header-section1{
    padding: 12px 0;
    background-color: rgb(182, 244, 223);
}

.header-section2{
    padding: 30px;
    background-color: blue;
}

.raw{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 184, 98);
}

.raw > *{
    padding: 8px 6px;
}

.container{
    display: flex;
    min-height: 200px;
    width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 139, 197);
}



.paragraph{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #ffffff;
}

.bg-grey{
    background-color: darkgray;
}

.bg-aqua{
    background-color:rgb(89, 145, 248);
}

.bg-pink{
    background-color: rgb(251, 186, 218);
}

.bg-green{
    background-color: darkgreen;
}
#box1{ 
    order: 2;
}

.column{
    min-height: 300px;
    min-width: 400px;
    border: 2px dashed black;
}

.column2{
    min-height: 600px;
    min-width: 800px;
    border: 2px dashed black;
}